Repository taskmedia/nuScrape, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, docker-k8s

.github/labeler.yml:

# add 'documentation' label to any changes in docs directory
documentation:
  - "**/README.md"

# add 'test' label to any changes related to go test
test:
  - "**/*_test.go"

# add 'docker' label to any changes related to docker
docker-k8s:
  - Dockerfile
  - docker-compose.yml
  - k8s/**/*

add annotationResult package
  pkg/sport/annotationResult/annotationResult.go
Labels: none

implement annotationResult
  pkg/parser/gesamtspielplan.go
  pkg/sport/match.go
Labels: none

add annotationResult test
  pkg/sport/annotationResult/annotationResult_test.go
Labels: test

fix gsp test after annotationResult implementation
  pkg/parser/gesamtspielplan_test.go
Labels: test

wrap regex of annotationResult
  pkg/sport/annotationResult/annotationResult.go
Labels: none

add description func for GSP and match
  pkg/sport/gesamtspielplan.go
  pkg/sport/match.go
Labels: none

remove error handling in Relay where no error can be occur
  pkg/sport/relay/relay.go
Labels: none

add relay testing
  pkg/sport/relay/relayName/relayName_test.go
  pkg/sport/relay/relay_test.go
Labels: test

move championship in its own package
  pkg/sport/championship/championship.go
  pkg/sport/championship/championship_test.go
Labels: test

add championship struct
  pkg/sport/championship/championship.go
  pkg/sport/championship/championship_test.go
Labels: test

integrate championship package in nuScrape
  pkg/http/rest/gesamtspielplan.go
  pkg/scrape/gesamtspielplan.go
  pkg/scrape/gesamtspielplan_test.go
  pkg/scrape/url.go
  pkg/scrape/url_test.go
  pkg/sport/gesamtspielplan.go
Labels: test

fix typo form
  pkg/sport/annotationResult/annotationResult_test.go
  pkg/sport/class/class_test.go
  pkg/sport/relay/relayName/relayName_test.go
Labels: test

rename GSP parsing values
  pkg/http/rest/gesamtspielplan.go
Labels: none

update README after championship update
  README.md
Labels: documentation

rework description of GSP - seperate championship and class
  pkg/sport/gesamtspielplan.go
Labels: none

add GetReportUrl function to match
  pkg/sport/match.go
Labels: none

add MIT license
  LICENSE
Labels: none

feat(cicd): add dependabot
  .github/dependabot.yml
Labels: none

feat(cicd): add dependabot
  .github/dependabot.yml
Labels: none
